.card {
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid rgba(var(--accent-color), 0.4);
}

.card-img {
    overflow: hidden;
    width: 100%;
}

.chef-name {
    font-size: 2rem;
    font-weight: 700;
    margin: 0.5em 0
}

.recipe-experience {
    display: flex;
    font-size: 1.6rem;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}

.details a {
    color: rgba(var(--accent-color));
    text-decoration: underline;
    font-weight: bolder;
}